@model WebApplication9.Models.Hospitals
@{
    ViewData["Title"] = "Backend5";
}

<form method="post">
    <p>Name</p>
    <p><input asp-for="name"/></p>
    <p>Adress</p>
    <p><input asp-for="adress" /></p>
    <p>Phones</p>
    <p><input asp-for="phones" /></p>

    <p><button type="submit">Save</button></p>
    <p><a asp-action="Hospital" >Back to list</a></p>
</form>
